<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fakipedia</title>
  </head>
  <body class="main-body top-3p">
    <span class="main-header">Fakipedia</span>
    <strong class="localized-slogan bottom-3p">The Fake Encyclopedia</strong>
    <div class="bottom-3p"><img src="/static/images/Wikipedia-logo-v2.png"></img></div>
    <form action="/redirect">
        <input id="searchInput" class="main-search-input" name="search" type="search" size="20" autofocus="autofocus" accesskey="F" dir="auto" autocomplete="off" list="suggestions">
        <button class="main-search-btn" type="submit">
            <img src="/static/images/search-icon.png" class="main-search-icon"></img>
        </button>

        <div class="main-option-div">
            Length:
            <input id="lengthInput" class="main-option-input" name="len" type="number" size="20" dir="auto" autocomplete="off" value="250">
            Memory: 
            <input id="lengthInput" class="main-option-input" name="memory" type="number" size="20" dir="auto" autocomplete="off" value="1024">
        </div>
    </form>
  </body>
</html>
